<!DOCTYPE html> <!-- Declaration of document type/version-->
<html> <!-- root element-->

<head> <!-- Defines meta-info. on document: title, character encoding, & stylesheets-->
    <title>World Cup Travel Guide</title>
    <meta charset="UTF-8"> <!-- specfiies charcter encoding: ASCII-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--viewport properties: responsive design -->
    <link rel="stylesheet" href="/static/index.css"> <!-- connect css page -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">  access to fontawesome fonts -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- style of website - fonts -->
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* font family */
            font-weight: 200;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 5px;
            font-weight: 500;

        }
    </style>
    <script src="../main.js"></script>
</head>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:5px;">

            <!-- <img src="../static/WCT_Logo.png"> -->
            <a href="/" class="w3-bar-item w3-button">World Cup Travel Guide</a>
            <img src="../static/WCT_Logo.png" class="w3-bar-item w3-button" height="10" weight="20">
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="/hostCities" class="w3-bar-item w3-button">Host Cities</a>
                <a href="/" class="w3-bar-item w3-button">Matches</a>
                <a href="/about" class="w3-bar-item w3-button">About</a>
                <a href="/contact" class="w3-bar-item w3-button">Contact Us</a>
            </div>
        </div>
    </div>


    <!-- Landing Image 
    <div class="w3-display-container ">
        <img src="../static/filterSearch.jpeg" alt="about" width="100%" height="1050px">
    </div> -->

    <!-- Landing Video  -->
    <div class="w3-display-container">
        <video muted autoplay loop id="myVideo">
            <source src="../static/This is FIFA World Cup 26™.mp4" type="video/mp4">
        </video>
    </div>
    <hr>
    <h1 class="w3-center">Brand Booklet</h1>
    <hr>
    <div class="w3-content" max-width="1280px">
        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="../static/WCT_Logo.png" class="w3-round w3-image" alt="Table Setting" width="100%"
                    height="1000">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">About Us: <br> Brand Guide</h1><br>
                <h5 class="w3-center">Brand Guide for World Cup Trip</h5>
                <p class="w3-large">Matches will be played in 16 cities across 3 countries over a month. Spectators
                    from
                    all over the world will be looking for things to do during their vacation. Our website will help
                    fans plan their World Cup trip by providing useful lodging, eating, transportation, and
                    entertainment information and activities. <span class="w3-tag w3-light-grey"></span>
                </p>


            </div>

            <hr>




            <!-- World Cup Travel Guide Section -->
            <div class=" w3-row w3-padding-64" id="plan">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="../static/font.png" class="w3-round w3-image" alt="Table Setting" width="600"
                        height="750">
                    <img src="../static/font-family.png" class="w3-round w3-image" alt="Table Setting" width="600"
                        height="750">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">Brand Font</h1><br>
                    <h5 class="w3-center">Regular Nova Font Family</h5>
                    <p class="w3-large">Brand Logo: World Cup Trip logo was made with adjustments to Regular Nova font
                        family. Additionally, we played around with the color schemes as the logo can be adjusted across
                        the
                        color themes of the brand and website <span class="w3-tag w3-light-grey"></span>
                    </p>
                    <p class="w3-large w3-text-grey w3-hide-medium">Check Font Family</p>

                    <p><a href="https://fonts.adobe.com/fonts/regulator-nova" target="_blank">Font Family: Regular Nova
                            Font
                            Family</a></p>
                </div>
            </div>


            <hr>

            <!-- Moodboard-->
            <h1 class="w3-left">Moodboard</h1>
            <hr>

            <div class="w3-display-container">
                <img src="../static/m1.png" width="100%" height="750">
                <img src="../static/m2.png" width="100%" height="750">
            </div>


        </div>

        <hr>

        <!-- World Cup Travel Guide Section -->
        <div class=" w3-row w3-padding-64" id="plan">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="../static/dallas.png" class="w3-round w3-image" alt="Table Setting" width="600" height="750">
                <img src="../static/fifa 2026.jpeg" class="w3-round w3-image" alt="Table Setting" width="600"
                    height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">Brand Values</h1><br>
                <h5 class="w3-center">Plan your World Cup Trip!</h5>
                <p class="w3-large">World Cup Trip offers to provide a user-friendly, informational, and resourceful
                    website that offers hotel, restaurant, and attraction information. <span
                        class="w3-tag w3-light-grey"></span>
                </p>
                <p class="w3-large">We value our football lovers across the globe and hope to target those plannign
                    their next World Cup Trip <span class="w3-tag w3-light-grey"></span>
                </p>
                <p class="w3-large w3-text-grey w3-hide-medium">Browse through our filter systems on Teams, Countries,
                    and Attractions</p>

            </div>
        </div>

        <!-- Branding needs + Target Audience -->
        <div class=" w3-row w3-padding-64" id="plan">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="../static/1.png" class="w3-round w3-image" alt="Table Setting" width="600" height="750">
                <img src="../static/3.png" class="w3-round w3-image" alt="Table Setting" width="600" height="750">
                <img src="../static/2.png" class="w3-round w3-image" alt="Table Setting" width="600" height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">Brand Needs + Target Audience</h1><br>
                <p class="w3-large">Brand needs to have some sort of resemblance to FIFA given the organization's role
                    in hosting the World Cup<br> Target audience: Global football fans <span
                        class="w3-tag w3-light-grey"></span>
                </p>
                <p class="w3-large">We value our football lovers across the globe and hope to target those plannign
                    their next World Cup Trip <span class="w3-tag w3-light-grey"></span>
                </p>

            </div>
        </div>

        <h1 class="w3-center"> More UI Elements </h1>
        <div class="w3-display-container">
            <img src="../static/soccer ball.png" width="100%" height="100%">
            <hr>
            <img src="../static/WCT_StackedLogo.png" width="100%" height="100%">
            <hr>
            <img src="../static/Screenshot 2024-05-14 at 3.17.57 PM.png" width="100%" height="100%">
            <hr>
            <img src="../static/country.png" width="100%" height="100%">
            <hr>
            <img src="../static/matchSchedule.png" width="100%" height="100%">
            <hr>
            <img src="../static/sampleCountryFlag.png" width="100%" height="100%">

        </div>

        <hr>
        <hr>
        <!-- End page content -->
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-light-grey w3-padding-32">
        <p>Copyright World Cup Trip Guide</p>

    </footer>



</body>

</html>